* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
}

.header {
  background: linear-gradient(
      to bottom,
      rgba(74, 74, 63, 0.3),
      rgba(31, 31, 40, 0.4)
    ),
    url('./img/cook-2364221_1920.jpg') no-repeat center;
  background-size: cover;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;

  .heading {
    font-family: 'Permanent Marker', cursive;
    padding-bottom: 2rem;
    font-size: 10rem;
    color: #fff;
    letter-spacing: 1.2px;
    text-transform: capitalize;
  }

  .search,
  .button {
    display: inline-block;
    border: 1px solid #eee;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding: 1.7rem 1.5rem;
    outline: none;
    font-size: 1.7rem;
  }

  .search {
    width: 50rem;

    &::placeholder {
      letter-spacing: 1px;
      color: #285c76;
    }
  }

  .button {
    width: 12rem;
    cursor: pointer;
    margin-left: 0.5rem;
    color: #285c76;
    background-color: #fff;
    transition: 300ms all;
    border-radius: 5px;
  }
}

.container {
  width: 80%;
  margin: 5rem auto;
  position: relative;

  .recipe-lists {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5rem;
    margin: 2rem 0;
  }

  .recipe {
    display: flex;
    padding: 3rem;
    border-radius: 7px;
    font-size: 1.7rem;
    line-height: 3.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    transition: 200ms all ease;

    &_contents {
      margin-left: 4rem;

      .recipe-title {
        font-size: 2.4rem;
        font-weight: bolder;
        text-align: center;
      }

      ul > li {
        list-style-position: inside;
      }
    }

    .image-div {
      text-align: center;
    }

    .image-div img {
      border-radius: 8px;
      width: 100%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .calories {
      margin: 1rem 0;

      span {
        font-weight: bolder;
        font-size: 2rem;
      }
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}

.footer {
  padding: 2rem 0;
  background-color: #285c76;

  p {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    padding: 0 2rem;

    .heading {
      font-size: 5rem;
    }

    .search {
      width: 20rem;
      font-size: 1.5rem;
    }

    .button {
      width: 8rem;
      font-size: 1.5rem;
      outline: none;
    }
  }

  .container {
    .recipe-lists {
      grid-template-columns: 1fr;
    }

    .recipe {
      display: block;
    }
  }
}

@media (min-width: 800px) and (max-width: 1300px) {
  .container .recipe-lists {
    grid-template-columns: 1fr 1fr;
  }
}
