* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(244, 244, 244);
}

.heading {
  background-color: rgb(72, 70, 69);
  padding: 10rem 0;

  h1 {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
}

.container {
  width: 80%;
  margin: 2rem auto;
}

.form-control {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search,
.button {
  display: inline-block;
  border: 1px solid #eee;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 1.7rem 1.5rem;
  outline: none;
  font-size: 1.7rem;
}

.search {
  width: 30rem;
}

.button {
  width: 12rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.recipe-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

ul > li {
  list-style-position: inside;
}

.recipe {
  padding: 2rem;
  border-radius: 5px;
  font-size: 1.7rem;
  line-height: 3.5rem;
  background-color: #ddd;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .recipe-title {
    font-size: 3rem;
    font-weight: bolder;
    margin: 2rem 0;
  }

  .image-div,
  img {
    margin: 0 auto;
    border-radius: 8px;
  }

  .calories {
    margin: 1rem 0;

    span {
      font-weight: bolder;
      font-size: 2.2rem;
    }
  }
}

.footer p {
  background-color: rgb(72, 70, 69);
  text-align: center;
  font-size: 1.7rem;
  color: #fff;
  padding: 2rem 0;
}
